<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header.ejs') %>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partial/spinner.ejs') %>
            <!-- Spinner End -->

            <!-- Sign In Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <!-- Flash message starts -->
                        <%- include('../partial/flashMessage.ejs') %>
                            <!-- Flash message ends -->

                            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                                <div class="d-flex flex-column gap-3 mb-3">
                                    <img class="mb-0" src="/images/sggscollegelogo.png" alt="SGGS College, Patna City"
                                        style="width: 100%;">
                                    <a href="" class="">
                                        <h5 class="text-primary">Recover your credential</h5>
                                    </a>
                                </div>
                                <form action="/student/<%= course %>/recoverCredential" method="post">

                                    <div class="form-floating mb-3">
                                        <input name="mobileNumber" type="number" class="form-control" id="mobileNumber"
                                            placeholder="1234567890" required>
                                        <label for="mobileNumber">Enter Registered Mobile No.</label>
                                    </div>

                                    <div class="form-floating mb-4">
                                        <input name="email" type="email" class="form-control"
                                            id="email" placeholder="Email" required>
                                        <label for="email">Enter Registered Email</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Send</button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
            <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries Starts -->
    <%- include('../partial/jsLibrary.ejs') %>
        <!-- JavaScript Libraries ends -->

</body>

</html>