<%- include('./partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('./partials/certificate-sidebar.ejs')%>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">

            <!-- Navbar Start -->
            <%- include('./partials/navbar.ejs')%>
                <!-- Navbar End -->

                <!-- Blank Start -->
                <div class="container-fluid pt-4 px-4">
                    <% if(locals.submitted){ %>
                        <div id="submitPopUp">
                            <div class="col-12 col-md-10 alert alert-success" role="alert">
                                <%= locals.submitted %>
                            </div>
                        </div>
                        <% }%>

                            <% if(locals.alreadysubmitted){ %>
                                <div id="submitPopUp">
                                    <div class="col-12 col-md-10 alert alert-danger" role="alert">
                                        <%= locals.alreadysubmitted %>
                                    </div>
                                </div>
                                <% }%>

                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <div class="bg-light rounded  p-4">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h6 class="mb-4">
                                                        <%= locals.clcType.charAt(0).toUpperCase() +
                                                            locals.clcType.slice(1) %> CLC Form
                                                    </h6>

                                                    <% if (locals.appliedUser) { %>
                                                        <% if (locals.appliedUser.status==="Pending" ) { %>
                                                            <div class="bg-warning text-dark py-1 px-2 rounded">
                                                                <%= locals.appliedUser.status %>
                                                            </div>
                                                            <% } %>
                                                                <% if (locals.appliedUser.status==="Approved" ) { %>
                                                                    <div
                                                                        class="bg-success text-light py-1 px-2 rounded">
                                                                        <%= locals.appliedUser.status %>
                                                                    </div>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% if (locals.appliedUser) { %>
                                                                                <div class="btn btn-primary"><a
                                                                                        class="text-light"
                                                                                        href="/certificateReceipt/<%= locals.appliedUser.certificateType %>/<%= locals.appliedUser.appliedBy %>">Get
                                                                                        Receipt</a></div>
                                                                                <% } %>
                                                </div>


                                                <form action="/main/certificate/clc" method="post">
                                                    <input type="hidden" id="clcType" name="clcType"
                                                        value=<%=locals.clcType %>>
                                                    <div class="col-md-12 mb-3">
                                                        <label for="fullName" class="form-label">1. Full Name</label>
                                                        <textarea class="form-control" name="fullName" id="fullName"
                                                            rows="1" oninput="this.value = this.value.toUpperCase()" required><%= locals.user.fullName%></textarea>

                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="fatherName" class="form-label">2. Father's
                                                            Name</label>
                                                        <input type="text" class="form-control" id="fatherName"
                                                            name="fatherName" oninput="this.value = this.value.toUpperCase()" required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="motherName" class="form-label">3. Mother's
                                                            Name</label>
                                                        <input type="text" class="form-control" id="motherName"
                                                            name="motherName" oninput="this.value = this.value.toUpperCase()" required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="aadharNumber" class="form-label">4.
                                                            AadharNumber</label>
                                                        <input type="number" class="form-control" id="aadharNumber"
                                                            name="aadharNumber" maxlength="12" pattern="[0-9]{12}"
                                                            required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="parmanentAddress" class="form-label">5.Parmanent
                                                            Address</label>
                                                        <input type="text" class="form-control" id="parmanentAddress"
                                                            name="parmanentAddress" oninput="this.value = this.value.toUpperCase()" required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="dOB" class="form-label">6. Date Of Birth</label>
                                                        <input type="date" class="form-control" id="dOB" name="dOB"
                                                            value=<%# locals.user.dOB %> required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="course" class="form-label">7. Name of the Course
                                                            Attended</label>

                                                        <% if (locals.user.course) { %>
                                                            <select id="course" class="form-select" name="course"
                                                                required>
                                                                <option value="Intermediate" <%= locals.user.course === "Intermediate" ? 'selected' : '' %> >Intermediate</option>
                                                                <option value="B.A" <%= locals.user.course === "B.A" ? 'selected' : '' %> >B.A</option>
                                                                <option value="B.SC" <%= locals.user.course === "B.SC" ? 'selected' : '' %> >B.SC</option>
                                                                <option value="B.C.A" <%= locals.user.course === "B.C.A" ? 'selected' : '' %>>B.C.A</option>
                                                                <option value="B.B.A" <%= locals.user.course === "B.B.A" ? 'selected' : '' %>>B.B.A</option>
                                                            </select>
                                                            <% } else { %>
                                                                <select id="course" class="form-select" name="course"
                                                                    required>
                                                                    <option value="Intermediate">Intermediate</option>
                                                                    <option value="B.A">B.A</option>
                                                                    <option value="B.SC">B.SC</option>
                                                                    <option value="B.C.A">B.C.A</option>
                                                                    <option value="B.B.A">B.B.A</option>
                                                                </select>
                                                                <% } %>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="session" class="form-label">8. Academic
                                                            Session</label>
                                                        <% if (locals.user.session) { %>
                                                            <textarea class="form-control" name="session" id="session"
                                                                rows="1" required><%= locals.user.session%></textarea>
                                                            <% } else { %>
                                                                <input type="text" class="form-control" id="session"
                                                                    name="session" placeholder="Eg. 2023-2026"
                                                                    required />
                                                                <% } %>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="dOAdm" class="form-label">9. Date Of
                                                            Admission</label>
                                                        <input type="date" class="form-control" id="dOAdm" name="dOAdm"
                                                            required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="classRollNumber" class="form-label">10. Class Roll
                                                            Number</label>

                                                        <% if (locals.user.collegeRollNumber) { %>
                                                            <textarea class="form-control" name="classRollNumber"
                                                                id="classRollNumber" rows="1" oninput="this.value = this.value.toUpperCase()"
                                                                required><%= locals.user.collegeRollNumber%></textarea>
                                                            <% } else { %>
                                                                <input type="number" class="form-control"
                                                                    id="classRollNumber" name="classRollNumber" oninput="this.value = this.value.toUpperCase()"
                                                                    required />
                                                                <% } %>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="yearOfExam" class="form-label">11. Month and Year of
                                                            Examination</label>
                                                        <input type="text" class="form-control" id="yearOfExam"
                                                            name="yearOfExam" placeholder="Eg. June 2023" oninput="this.value = this.value.toUpperCase()" required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="resultDivision" class="form-label">12. Result with
                                                            Division</label>
                                                        <select id="resultDivision" class="form-select"
                                                            name="resultDivision" required>
                                                            <option value="1st">1st</option>
                                                            <option value="2nd">2nd</option>
                                                            <option value="3rd">3rd</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="regNumber" class="form-label">13. Registration
                                                            Number</label>

                                                        <% if (locals.user.regNumber) { %>
                                                            <textarea class="form-control" name="regNumber"
                                                                id="regNumber" rows="1" oninput="this.value = this.value.toUpperCase()"
                                                                required><%= locals.user.regNumber%></textarea>
                                                            <% } else { %>
                                                                <input type="text" class="form-control" id="regNumber"
                                                                    name="regNumber" oninput="this.value = this.value.toUpperCase()" required />
                                                                <% } %>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="uniRollNumber" class="form-label">14. University /
                                                            BSEB Roll Number</label>

                                                        <% if (locals.user.uniRollNumber) { %>
                                                            <textarea class="form-control" name="uniRollNumber"
                                                                id="uniRollNumber" rows="1" oninput="this.value = this.value.toUpperCase()"
                                                                required><%= locals.user.uniRollNumber%></textarea>
                                                            <% } else { %>
                                                                <input type="text" class="form-control"
                                                                    id="uniRollNumber" name="uniRollNumber" oninput="this.value = this.value.toUpperCase()" required />
                                                                <% } %>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    <button type="reset" class="btn btn-secondary">Reset</button>


                                                </form>
                                            </div>

                                        </div>
                                    </div>
                </div>

                <!-- Blank End -->


                <!-- Footer Start -->
                <%- include('./partials/main-footer.ejs') %>
                    <!-- Footer End -->

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <%- include('./partials/jsLibraries.ejs') %>
            <script>
                const aadharNumber = document.getElementById('aadharNumber');

                aadharNumber.addEventListener('input', function () {
                    if (this.value.length < 12) {
                        this.setCustomValidity('Please enter a 12-digit Aadhar number.');
                    } else {
                        this.setCustomValidity('');
                    }
                });

                const parmanentAddressPin = document.getElementById('parmanentAddressPin');

                parmanentAddressPin.addEventListener('input', function () {
                    if (this.value.length < 6) {
                        this.setCustomValidity('Please enter a 6-digit Pin Code number.');
                    } else {
                        this.setCustomValidity('');
                    }
                });

                const presentAddressPin = document.getElementById('presentAddressPin');

                presentAddressPin.addEventListener('input', function () {
                    if (this.value.length < 6) {
                        this.setCustomValidity('Please enter a 6-digit Pin Code number.');
                    } else {
                        this.setCustomValidity('');
                    }
                });
            </script>
            </body>

            </html>