<%- include('./partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('./partials/admin-sidebar.ejs') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->

            <%- include('./partials/navbar.ejs') %>
                <!-- Navbar End -->

                <%# include("./partials/messageAlert.ejs") %>

                <div class="col-sm-12 col-xl-12 pt-4 px-4">
                    <form action="/clcListAdmin" method="get">
                        <div class="bg-light rounded h-100 p-3 d-flex flex-wrap gap-2">
                            <!-- filter category -->
                            <div>
                                <select id="course" class="form-select" name="course">
                                    <option value="all" selected>All Courses</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="B.A">B.A</option>
                                    <option value="B.SC">B.SC</option>
                                    <option value="B.C.A">BCA</option>
                                    <option value="B.B.A">BBA</option>
                                </select>
                            </div>

                            <div>
                                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter full name" oninput="this.value = this.value.toUpperCase()" />
                            </div>

                            <div>
                                <input type="text" class="form-control" id="regNumber" name="regNumber" placeholder="Enter Reg. No" />
                            </div>

                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </form>
                </div>

                <!-- Blank Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row bg-light rounded justify-content-center m-0 p-2">
                        <section class="section">
                            <div class="row">
                                <!-- List starts Here     -->
                                <div class="col-12">
                                    <div class="bg-light rounded h-100 p-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="my-3 ">
                                                Character Certificates List (<%= locals.clclist.length %>)
                                            </h6>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">S.No.</th>
                                                        <th scope="col">Full Name</th>
                                                        <th scope="col">Reg. No</th>
                                                        <th scope="col">Course</th>
                                                        <th scope="col">Normal</th>
                                                        <th scope="col">Urgent</th>
                                                        <th scope="col">Duplicate</th>
                                                        <th scope="col">Character</th>
                                                        <th scope="col">Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (locals.clclist) { %>
                                                        <% clclist.reverse().forEach((element, index)=> { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= index + 1%>
                                                                </th>
                                                                <td>
                                                                    <%= element.fullName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.regNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.course%>
                                                                </td>
                                                                <td>
                                                                    <% if (element.isNormalPaid === true && element.isNormalIssued === false) { %>
                                                                        <a href="/clcListAdmin/<%= element._id %>?type=normal" class="px-4 btn btn-success w-md">Download</a>
                                                                    <% } else { %>
                                                                        <a href="/clcListAdmin/<%= element._id %>?type=normal" class="px-4 btn btn-success w-md disabled">Download</a>
                                                                    <% } %>
                                                                </td>
                                                                <td>
                                                                    <% if (element.isUrgentPaid === true && element.isUrgentIssued === false) { %>
                                                                        <a href="/clcListAdmin/<%= element._id %>?type=urgent" class="px-4 btn btn-danger w-md">Download</a>
                                                                    <% } else { %>
                                                                        <a href="/clcListAdmin/<%= element._id %>?type=urgent" class="px-4 btn btn-danger w-md disabled">Download</a>
                                                                    <% } %>
                                                                </td>
                                                                <td>
                                                                    <% if (element.isDuplicatePaid === true && element.isDuplicateIssued === false) { %>
                                                                        <a href="/clcListAdmin/<%= element._id %>?type=duplicate" class="px-4 btn btn-warning w-md">Download</a>
                                                                    <% } else { %>
                                                                        <a href="/clcListAdmin/<%= element._id %>?type=duplicate" class="px-4 btn btn-warning w-md disabled">Download</a>
                                                                    <% } %>
                                                                </td>
                                                                <td>
                                                                    <a href="/downloadCCInCLC/<%= element._id %>" class="px-4 btn btn-primary w-md">Download</a>
                                                                </td>
                                                                <td>
                                                                    <a href="/clcEdit/<%= element._id %>" class="px-4 btn btn-secondary w-md">Edit</a>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                            <% if (locals.clclist) { %>
                                                <% if (locals.clclist.length===0) { %>
                                                    <h3>CLC not found ...</h3>

                                                    <% } %>
                                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <!-- List ends Here     -->
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Blank End -->


                <!-- Footer Start -->
                <%- include('./partials/main-footer.ejs') %>
                <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <%- include('./partials/jsLibraries.ejs') %>
            </body>

            </html>