<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./static-page-partials/header.ejs') %>
</head>

<body>

  <div class="probootstrap-search" id="probootstrap-search">
    <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
    <form action="#">
      <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
    </form>
  </div>

  <div class="probootstrap-page-wrapper">
    <!-- Fixed navbar -->

    <div class="probootstrap-header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
            <span><i class="icon-location2"></i>Sri Guru Gobind Singh College, Quila Road, Patna City,
              Bihar-800008</span>
            <span><i class="icon-phone2"></i>0612-3190001,0612-2641391</span>
            <span><i class="icon-mail"></i>sggsppu@gmail.com</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
            <ul>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
              <li><a href="#"><i class="icon-youtube"></i></a></li>
              <li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <div class="btn-more js-btn-more visible-xs">
            <a href="#"><i class="icon-dots-three-vertical "></i></a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="Sri Guru Gobind Singh College, Patna City">Sri Guru Gobind
            Singh College, Patna City</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="teachers.html">Teachers</a></li>
            <li><a href="events.html">Events</a></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="courses.html">Courses</a></li>
                <!-- break -->
                <li><a href="gallery.html">Gallery</a></li>
                <!--break-->
                <li><a href="news.html">News</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Logins</a>
                <ul class="dropdown-menu">
                  <li><a href="/main/login">Admin Login</a></li>
                  <li><a href="/main/login">Student Login</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(/static-page/img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Your Bright Future is Our Mission</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/static-page/img/slider_2.jpeg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Education is Life</h1>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li style="background-image: url(/static-page/img/slider_3.jpeg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Helping Each of Our Students Fulfill the
                    Potential</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="probootstrap-section probootstrap-section-colored">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left section-heading probootstrap-animate">
            <h2>Welcome to Sri Guru Gobind Singh College, Patna City</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="probootstrap-flex-block">
              <div class="probootstrap-testimony-wrap text-center">
                <figure>
                  <img src="/static-page/img/principal.png" alt="Free Bootstrap Template by uicookies.com">
                </figure>
                <blockquote class="quote">&ldquo;It gives me great honor to convey the message for the college
                  established in Holy name of the tenth Sikh Guru, Sri Guru Gobind Singh Jee Maaharaj; An ideal college
                  of higher education and a golden temple of moral and spiritual awakening for the students of Bihar.
                  &rdquo; <p class="text-blue-600 mb-4 text-center">
                    विद्या ददाति विनयम्। विनयाद् याति पात्रताम्॥
                    <br />
                    पात्रत्वाद्धनमाप्नोति। धनाद्धर्मं ततः सुखम्॥ नीति श्लोक ॥
                  </p><cite class="author"> &mdash; <span>Dr. Subodh Kumar Singh,
                      Principal-in-Charge</span></cite></blockquote>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section" id="probootstrap-counter">
      <div class="container">

        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-users2"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="20203" data-speed="5000"
                    data-refresh-interval="50">1</span>
                </span>
                <span class="probootstrap-counter-label">Students Enrolled</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-user-tie"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="139" data-speed="5000"
                    data-refresh-interval="50">1</span>
                </span>
                <span class="probootstrap-counter-label">Certified Teachers</span>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block visible-xs-block"></div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-library"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="99" data-speed="5000"
                    data-refresh-interval="50">1</span>%
                </span>
                <span class="probootstrap-counter-label">Passing to Universities</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">

            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-smile2"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="100" data-speed="5000"
                    data-refresh-interval="50">1</span>%
                </span>
                <span class="probootstrap-counter-label">Parents Satisfaction</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section"
      style="background-image: url(/static-page/img/high.jpeg)">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center section-heading probootstrap-animate">
            <h2 class="mb0">Highlights</h2>
          </div>
        </div>
      </div>
      <div class="probootstrap-tab-style-1">
        <ul class="nav nav-tabs probootstrap-center probootstrap-tabs no-border">
          <li class="active"><a data-toggle="tab" href="#featured-news">Notice / सूचना</a></li>
          <li><a data-toggle="tab" href="#upcoming-events">Upcoming Events</a></li>
        </ul>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="tab-content">

              <div id="featured-news" class="tab-pane fade in active">
                <div class="row">
                  <div class="col-md-12">
                    <div class="owl-carousel" id="owl1">
                        <% if (locals.notices.length <=0) { %>
                            <p class="border-bottom pb-2 text-dark fw-bold">Sorry, Notice not published...</p>
                            <% } %>
                              <% locals.notices.reverse().forEach(notice=> { %>
                                <div class="item">
                                    <a href="<%= notice.noticeMedia %>" class="probootstrap-featured-news-box">
                                      <!-- <figure class="probootstrap-media"><img src=<%= notice.noticeMedia %>
                                          alt="Notice" class="img-responsive"></figure> -->
                                      <div class="probootstrap-text">
                                        <h3 class="text-light"><%= notice.noticeTitle %></h3>
                                        <p><%= notice.noticeTitle %></p>
                                        <span class="probootstrap-date"><i class="icon-calendar"></i><%= notice.createdAt %></span>
            
                                      </div>
                                    </a>
                                </div>
                                <% }) %>

                      <!-- END item -->
                    </div>
                  </div>
                </div>
                <!-- END row -->
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary">View all news</a></p>
                  </div>
                </div>
              </div>
              <div id="upcoming-events" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-12">
                    <div class="owl-carousel" id="owl2">
                      <div class="item">
                        <a href="#" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="/static-page/img/img_sm_3.jpeg"
                              alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                          <div class="probootstrap-text">
                            <h3>SSS Questinnaire Students</h3>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>Feb 10, 2025</span>
                            <span class="probootstrap-location"><i class="icon-location2"></i>Sri Guru Gobind Singh
                              College, Patna City</span>
                          </div>
                        </a>
                      </div>
                      <!-- END item -->
                      <div class="item">
                        <a href="#" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="/static-page/img/img_sm_1.jpeg"
                              alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                          <div class="probootstrap-text">
                            <h3>SSS Questinnaire Students Hindi</h3>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>Feb 10, 2025</span>
                            <span class="probootstrap-location"><i class="icon-location2"></i>Sri Guru Gobind Singh
                              College, Patna City</span>
                          </div>
                        </a>
                      </div>
                      <!-- END item -->
                      <div class="item">
                        <a href="#" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="/static-page/img/img_sm_2.jpeg"
                              alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                          <div class="probootstrap-text">
                            <h3>Admission Fee For UG & PG(2024-25)</h3>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>Dec 23, 2024</span>
                            <span class="probootstrap-location"><i class="icon-location2"></i>Sri Guru Gobind Singh
                              College, Patna City</span>
                          </div>
                        </a>
                      </div>
                      <!-- END item -->
                      <div class="item">
                        <a href="#" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="/static-page/img/img_sm_3.jpeg"
                              alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                          <div class="probootstrap-text">
                            <h3>Sem-1 mid term Exam</h3>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>Oct 29, 2024</span>
                            <span class="probootstrap-location"><i class="icon-location2"></i>Sri Guru Gobind Singh
                              College, Patna City</span>
                          </div>
                        </a>
                      </div>
                      <!-- END item -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary">View all events</a></p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white probootstrap-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Our Featured Courses</h2>
            <p class="lead">"Empower your future with knowledge—explore, learn, and grow in your chosen field. Your
              journey to success begins with the right education!</p>
          </div>
        </div>
        <!-- END row -->
        <div class="row">
          <div class="col-md-6">
            <div class="probootstrap-service-2 probootstrap-animate">
              <div class="image">
                <div class="image-bg">
                  <img src="/static-page/img/a.jpg" alt="Free Bootstrap Template by uicookies.com">
                </div>
              </div>
              <div class="text">
                <span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
                <h3>Science</h3>
                <p>Our college offers B.Sc. (Hons.) programs in various scientific disciplines: Botany, Chemistry,
                  Physics, Mathematics, and Zoology. These courses provide in-depth knowledge, practical skills, and
                  research opportunities in their respective fields. </p>
                <p><a href="#" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">2,928 students
                    enrolled</span></p>
              </div>
            </div>

            <div class="probootstrap-service-2 probootstrap-animate">
              <div class="image">
                <div class="image-bg">
                  <img src="/static-page/img/b.jpg" alt="Free Bootstrap Template by uicookies.com">
                </div>
              </div>
              <div class="text">
                <span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
                <h3>Social Science </h3>
                <p>Our college offers B.A. programs in Social Sciences, including History, Political Science, Sociology,
                  Psychology, Philosophy, Geography, and Economics. These courses provide a deep understanding of human
                  society and economic systems.

                </p>
                <p><a href="#" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">7,202 students
                    enrolled</span></p>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="probootstrap-service-2 probootstrap-animate">
              <div class="image">
                <div class="image-bg">
                  <img src="/static-page/img/c.png" alt="Free Bootstrap Template by uicookies.com">
                </div>
              </div>
              <div class="text">
                <span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
                <h3>Humanities</h3>
                <p>Our college offers B.A. programs in Humanities, including Hindi, Urdu, English, and Sanskrit. These
                  courses focus on language, literature, and cultural studies, enhancing communication, creativity, and
                  analytical skills.

                </p>
                <p><a href="#" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">12,582 students
                    enrolled</span></p>
              </div>
            </div>

            <div class="probootstrap-service-2 probootstrap-animate">
              <div class="image">
                <div class="image-bg">
                  <img src="/static-page/img/d.jpg" alt="Free Bootstrap Template by uicookies.com">
                </div>
              </div>
              <div class="text">
                <span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
                <h3>Vocational</h3>
                <p>Our college offers Vocational Programs, including BCA (Bachelor of Computer Application) and BBM
                  (Bachelor of Business Management). These courses equip students with practical skills in computer
                  science, software development, business strategies, and management</p>
                <p><a href="#" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">9,582 students
                    enrolled</span></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>



    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Meet Our Qualified Teachers</h2>
            <p class="lead">Inspire, educate, and shape the future—your guidance lights the path of knowledge. A great
              teacher not only imparts wisdom but ignites a passion for learning!

            </p>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="/static-page/img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
              </figure>
              <div class="text">
                <h3>Prof. (Dr.) Subodh Kumar Singh</h3>
                <p>Professor-In-Charge</p>
                <ul class="probootstrap-footer-social">
                  <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                  <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="/static-page/img/person_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
              </figure>
              <div class="text">
                <h3>Dr. Sunil Kumar</h3>
                <p>Sports In-charge</p>
                <ul class="probootstrap-footer-social">
                  <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                  <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block visible-xs-block"></div>
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="/static-page/img/person_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
              </figure>
              <div class="text">
                <h3>Dr. Nand Kumar Yadav</h3>
                <p>N.S.S. Officer</p>
                <ul class="probootstrap-footer-social">
                  <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                  <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="/static-page/img/person_7.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
              </figure>
              <div class="text">
                <h3> Dr. Arun Kumar</h3>
                <p> Examination Controller</p>
                <ul class="probootstrap-footer-social">
                  <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                  <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial"
      style="background-image: url(/static-page/img/slider_4.jpeg);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Alumni Testimonial</h2>
            <p class="lead">Studying here was a transformative experience—excellent faculty, practical learning, and a
              supportive environment shaped my career. Proud to be an alumnus of this institution!</p>
          </div>
        </div>
        <!-- END row -->
        <div class="row">
          <div class="col-md-12 probootstrap-animate">
            <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
              <div class="item">

                <div class="probootstrap-testimony-wrap text-center">
                  <figure>
                    <img src="/static-page/img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com">
                  </figure>
                  <blockquote class="quote">&ldquo;Design must be functional and functionality must be translated into
                    visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo; <cite
                      class="author"> &mdash; <span>Mike Fisher</span></cite></blockquote>
                </div>

              </div>
              <div class="item">
                <div class="probootstrap-testimony-wrap text-center">
                  <figure>
                    <img src="/static-page/img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com">
                  </figure>
                  <blockquote class="quote">&ldquo;Creativity is just connecting things. When you ask creative people
                    how they did something, they feel a little guilty because they didn’t really do it, they just saw
                    something. It seemed obvious to them after a while.&rdquo; <cite class="author"> &mdash;<span>Jorge
                        Smith</span></cite></blockquote>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-testimony-wrap text-center">
                  <figure>
                    <img src="/static-page/img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com">
                  </figure>
                  <blockquote class="quote">&ldquo;I think design would be better if designers were much more skeptical
                    about its applications. If you believe in the potency of your craft, where you choose to dole it out
                    is not something to take lightly.&rdquo; <cite class="author">&mdash; <span>Brandon
                        White</span></cite></blockquote>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Why Choose Us</h2>
            <p class="lead">Sri Guru Gobind Singh College, established in 1960, is committed to providing quality higher
              education with a strong focus on academic excellence and character building.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Rich Heritage & Legacy</h3>
                <p>Named after Shri Guru Gobind Singh Jee, the college stands as a beacon of patriotism, sacrifice, and
                  knowledge.</p>
              </div>
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Diverse Academic Programs</h3>
                <p>Offering courses in Science, Arts, and Commerce, along with vocational programs like BBA, BCA, and
                  Add-on courses.</p>
              </div>
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Equal Opportunities for All</h3>
                <p>The college welcomes students from all communities and provides a merit-based admission system for
                  both boys and girls.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Affiliation & Recognition</h3>
                <p>A constituent unit of Patliputra University, affiliated since 1960, ensuring academic credibility and
                  excellence.</p>
              </div>
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Holistic Development</h3>
                <p>Beyond academics, the college focuses on character-building, leadership skills, and career readiness
                  for students.</p>
              </div>
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>State-of-the-Art Infrastructure</h3>
                <p>Well-equipped classrooms, laboratories, and libraries enhance the learning experience with modern
                  facilities.</p>
              </div>
            </div>
          </div>
        </div>



      </div>

  </div>
  </div>
  <!-- END row -->
  </div>
  </section>

  <section class="probootstrap-cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Get your admission now!</h2>
          <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate"
            data-animate-effect="fadeInLeft">Enroll</a>
        </div>
      </div>
    </div>
  </section>
  <footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>About The College</h3>
            <p>A legacy of excellence since 1960, Sri Guru Gobind Singh College empowers students with knowledge,
              values, and a vision for the future. Rooted in heritage and driven by education, our college stands as a
              beacon of learning, discipline, and holistic development. Bridging tradition with modern education, we
              nurture young minds to become leaders, thinkers, and changemakers of tomorrow. A place where history meets
              innovation, fostering academic excellence and character-building for a brighter future.</p>
            <h3>Social</h3>
            <ul class="probootstrap-footer-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-github"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h3>Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Teachers</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Contact Info</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Sri Guru Gobind Singh College, Quila Road, Patna City,
                  Bihar-800008</span></li>
              <li><i class="icon-mail"></i><span>sggsppu@gmail.com</span></li>
              <li><i class="icon-phone2"></i><span>0612-3190001,0612-2641391</span></li>
            </ul>
          </div>
        </div>

      </div>
      <!-- END row -->

    </div>

    <div class="probootstrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-left">
            <p>&copy; 2025 <a href="https://uicookies.com/">Sri Guru Gobind Singh College, Patna City</a>. All Rights
              Reserved. Designed &amp;
              Developed with <i class="icon icon-heart"></i> by <a href="https://techandhub.in/">Tech & Hub Technologies
                .</a></p>
          </div>
          <div class="col-md-4 probootstrap-back-to-top">
            <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  </div>
  <!-- END wrapper -->

<%- include("./static-page-partials/footer-script.ejs") %>
  

</body>

</html>