<%- include('./partials/header.ejs') %>
        <!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <% if(locals.message && locals.message.length > 0){ %>
                            <div id="flashMessage" class="<%= message[1] %> <%= message[2] %> alert text-light border-0 my-4 mx-3 fade show" role="alert">
                                <%= message[0] %>
                            </div>
                        <% }%>
                    
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex gap-3 flex-column mb-3">
                            <img class="mb-0" src="/static-page/img/logocc.png" alt="SGGS College" style="width: 100%;">
                            <a href="/main/register" class="">
                                <h3 class="text-primary">Register as a student</h3>
                            </a>
                        </div>
                        <form action="/main/register" method="post">
                            <div class="form mb-3">
                                <label class="fw-bolder text-capitalize form-label" for="fullName">Full name</label>
                                <input name="fullName" type="text" class="form-control" id="fullName" oninput="this.value=this.value.toUpperCase()" required>
                            </div>
                            <div class="form mb-3">
                                <label class="fw-bolder form-label" for="mobileNumber">Mobile Number</label>
                                <input name="mobileNumber" type="number" class="form-control" id="mobileNumber" required>
                            </div>
                            <div class="form mb-3">
                                <label class="fw-bolder form-label" for="email">Email</label>
                                <input name="email" type="text" class="form-control" id="email" oninput="this.value = this.value.toLowerCase()" required>
                            </div>
                        
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Register</button>
                            <p class="text-center mb-3">Already Register ? <a href="/main/login">Log In</a></p>
                            <!-- <div class="text-center mb-0">"Please, Check email or mobile for username & password after register"</div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>

    <%- include('./partials/jsLibraries.ejs') %>
</body>

</html>