<%- include('./partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('./partials/admin-sidebar.ejs') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->

            <%- include('./partials/navbar.ejs') %>
                <!-- Navbar End -->

                <%# include("./partials/messageAlert.ejs") %>

                <div class="col-sm-12 col-xl-12 pt-4 px-4">
                    <form action="/ugRegularPart3List" method="get">
                        <div class="bg-light rounded h-100 p-3 d-flex flex-wrap gap-2">
                            <!-- filter category -->

                            <div>
                                <select id="isPaid" class="form-select" name="isPaid">
                                    <option value="all" selected>All Students</option>
                                    <option value="true">Paid</option>
                                    <option value="false">Unpaid</option>
                                </select>
                            </div>

                            <div>
                                <select id="category" class="form-select" name="category">
                                    <option value="all" selected>Select Category</option>
                                    <option value="GENERAL">General</option>
                                    <option value="BC-2">BC-2</option>
                                    <option value="BC-1">BC-1</option>
                                    <option value="SC">SC</option>
                                    <option value="ST">ST</option>
                                </select>
                            </div>

                            <div>
                                <select id="gender" class="form-select" name="gender">
                                    <option value="all" selected>Select Gender</option>
                                    <option value="MALE">MALE</option>
                                    <option value="FEMALE">FEMALE</option>
                                </select>
                            </div>

                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </form>
                </div>

                <!-- Blank Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row bg-light rounded justify-content-center m-0 p-2">
                        <section class="section">
                            <div class="row">
                                <!-- List starts Here     -->
                                <div class="col-12">
                                    <div class="bg-light rounded h-100 p-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex gap-2 justify-content-center align-items-center">
                                                <h6 class="my-3 ">
                                                    <%= locals.status %> Students (<%= locals.noOfForms %>
                                                            Forms)
                                                </h6>

                                                <!-- <%# if (locals.course && locals.findAdmDateFrom && locals.findAdmDateTo) { %>
                                                    <div class="btn btn-secondary"><a class="text-light"
                                                        href="/ugRegSem1Excel/<%# locals.course %>/<%# locals.findAdmDateFrom %>/<%# locals.findAdmDateTo %>">Download Excel</a></div>
                                                <%# } %> -->


                                            </div>
                                            <!-- <div class="my-3"> -->
                                            <form class="d-flex gap-2" action="/ugRegularPart3List"
                                                method="post">
                                                <input type="text" class="form-control" id="findStuRefNo"
                                                    name="findStuMobileNo" placeholder="Enter Mobile Number"
                                                    oninput="this.value = this.value.toUpperCase()" />
                                                <button type="submit" class="btn btn-primary">Find</button>
                                            </form>
                                            <!-- </div> -->
                                        </div>
                                        <div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">S.No.</th>
                                                        <th scope="col">Student's Name</th>
                                                        <th scope="col">Father's Name</th>
                                                        <th scope="col">Mobile No.</th>
                                                        <th scope="col">Uni. Roll No.</th>
                                                        <th scope="col">Uni. Reg. No.</th>
                                                        <th scope="col">Honours Paper</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Adm Fee</th>
                                                        <th scope="col">Payment ID</th>
                                                        <th scope="col">View</th>
                                                        <th scope="col">Edit</th>
                                                        <!-- <th scope="col">Verification</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (locals.list) { %>
                                                        <% list.reverse().forEach((element, index)=> { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= index + 1%>
                                                                </th>
                                                                <td>
                                                                    <%= element.studentName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.fatherName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.mobileNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.uniRollNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.uniRegNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.paper1%>
                                                                </td>
                                                                <td>
                                                                    <%= element.category%>
                                                                </td>
                                                                <td>
                                                                    <%= element.admissionFee%>
                                                                </td>
                                                                <td>
                                                                    <%= element.paymentId%>
                                                                </td>
                                                                <td>
                                                                    <a href="/ugRegularPart3StudentView/<%= element._id %>"
                                                                        class="px-4 btn btn-warning w-md">View</a>
                                                                </td>
                                                                <td>
                                                                    <a href="/ugRegularPart3StudentEdit/<%= element._id %>"
                                                                        class="px-4 btn btn-danger w-md">Edit</a>
                                                                </td>
                                                                <!-- <td>
                                                                    <% if (element.isVerified) { %>
                                                                        <a href=""
                                                                            class="px-4 btn btn-success w-md">Verified</a>
                                                                        <% } else { %>
                                                                            <a href=""
                                                                                class="px-4 btn btn-danger w-md">Unverified</a>
                                                                            <% } %>

                                                                </td> -->

                                                            </tr>
                                                            <% }); %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                            <% if (locals.list) { %>
                                                <% if (locals.list.length===0) { %>
                                                    <h3>Student not found ...</h3>

                                                    <% } %>
                                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <!-- List ends Here     -->
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Blank End -->


                <!-- Footer Start -->
                <%- include('./partials/main-footer.ejs') %>
                <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <%- include('./partials/jsLibraries.ejs') %>
            </body>

            </html>