<%- include('./partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('./partials/sidebar.ejs') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->

            <%- include('./partials/navbar.ejs') %>
                <!-- Navbar End -->


                <div class="container-fluid pt-4 px-4">
                    <% if(locals.submitted){ %>
                        <div id="submitPopUp">
                            <div class="col-12 col-md-10 alert alert-success" role="alert">
                                <%= locals.submitted %>
                            </div>
                        </div>
                        <% }%>

                            <% if(locals.alreadysubmitted){ %>
                                <div id="submitPopUp">
                                    <div class="col-12 col-md-10 alert alert-danger" role="alert">
                                        <%= locals.alreadysubmitted %>
                                    </div>
                                </div>
                                <% }%>

                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <div class="bg-light rounded  p-4">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h6 class="mb-4">
                                                        <%= locals.user.course %>  Admission Form<% if
                                                                (locals.appliedUser) { %>
                                                                <span class="text-primary">( Fiiled by You )</span>
                                                                <% } %>
                                                    </h6>
                                                </div>


                                                <% if (locals.user) { %>

                                                    <% if (locals.user.isPaid==true) { %>

                                                        <% } else { %>
                                                            <form action="/ugRegularSem2AdmissionForm" method="post"
                                                                enctype="multipart/form-data">
                                                                <div class="col-md-12 mb-3">
                                                                    <label for="studentName" class="form-label"><b>1.
                                                                            Student's Name :</b></label>
                                                                    <textarea id="studentName" name="studentName"
                                                                        rows="1" class="form-control" required
                                                                        readonly><%= user.fullName.trim().toUpperCase() %></textarea>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="fatherName" class="form-label"><b>2.
                                                                            Father's Name :</b></label>
                                                                    <input type="text" class="form-control"
                                                                        id="fatherName" name="fatherName"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="motherName" class="form-label"><b>3.
                                                                            Mother's Name :</b></label>
                                                                    <input type="text" class="form-control"
                                                                        id="motherName" name="motherName"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="guardianName" class="form-label"><b>4.
                                                                            Guardian's Name :</b></label>
                                                                    <input type="text" class="form-control"
                                                                        id="guardianName" name="guardianName"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="uniRegNumber"
                                                                        class="form-label">University Registration
                                                                        Number :</label>
                                                                    <input type="text" class="form-control"
                                                                        id="uniRegNumber" name="uniRegNumber"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="uniRollNumber"
                                                                        class="form-label">University Roll Number
                                                                        :</label>
                                                                    <input type="text" class="form-control"
                                                                        id="uniRollNumber" name="uniRollNumber"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="collegeRollNumber"
                                                                        class="form-label">College Roll Number :</label>
                                                                    <input type="text" class="form-control"
                                                                        id="collegeRollNumber" name="collegeRollNumber"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="email" class="form-label">Email Id
                                                                        :</label>
                                                                    <input type="email" class="form-control" id="email"
                                                                        name="email"
                                                                        oninput="this.value = this.value.toLowerCase()"
                                                                        value=<%=locals.user.email %> required readonly
                                                                    />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="dOB" class="form-label">Date Of Birth
                                                                        :</label>
                                                                    <input type="date" class="form-control" id="dOB"
                                                                        name="dOB" required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="gender" class="form-label">Gender
                                                                        :</label>
                                                                    <select id="gender" class="form-select"
                                                                        name="gender" required>
                                                                        <option value="MALE">MALE</option>
                                                                        <option value="FEMALE">FEMALE</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="religion" class="form-label">Religion
                                                                        :</label>
                                                                    <select id="religion" class="form-select"
                                                                        name="religion" required>
                                                                        <option value="HINDU">HINDU</option>
                                                                        <option value="MUSLIM">MUSLIM</option>
                                                                        <option value="SIKH">SIKH</option>
                                                                        <option value="CHRISTIAN">CHRISTIAN</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="category" class="form-label">Category
                                                                        :</label>
                                                                    <select id="category" class="form-select"
                                                                        name="category" required>
                                                                        <option value="GENERAL">GENERAL</option>
                                                                        <option value="BC-2">BC-2</option>
                                                                        <option value="BC-1">BC-1</option>
                                                                        <option value="SC">SC</option>
                                                                        <option value="ST">ST</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="bloodGroup" class="form-label">Blood
                                                                        Group :</label>
                                                                    <input type="text" class="form-control"
                                                                        id="bloodGroup" name="bloodGroup"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="physicallyChallenged"
                                                                        class="form-label">Physically Challenged
                                                                        :</label>
                                                                    <select id="physicallyChallenged"
                                                                        class="form-select" name="physicallyChallenged"
                                                                        required>
                                                                        <option value="NO">NO</option>
                                                                        <option value="YES">YES</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="maritalStatus"
                                                                        class="form-label">Marital Status :</label>
                                                                    <select id="maritalStatus" class="form-select"
                                                                        name="maritalStatus" required>
                                                                        <option value="UNMARRIED">UNMARRIED</option>
                                                                        <option value="MARRIED">MARRIED</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="aadharNumber"
                                                                        class="form-label">Applicant Aadhar Number
                                                                        :</label>
                                                                    <input type="number" class="form-control"
                                                                        id="aadharNumber" name="aadharNumber"
                                                                        maxlength="12" pattern="[0-9]{12}" required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="mobileNumber" class="form-label">Mobile
                                                                        Number :</label>
                                                                    <input type="number" class="form-control"
                                                                        id="mobileNumber" name="mobileNumber" readonly
                                                                        value=<%=locals.user.mobileNumber %> />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="whatsAppNumber"
                                                                        class="form-label">WhatsApp Number :</label>
                                                                    <input type="number" class="form-control"
                                                                        id="whatsAppNumber" name="whatsAppNumber"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="address" class="form-label"> <b>5.
                                                                            Address for Correspondence : </b></label>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="address" class="form-label">Address
                                                                        :</label>
                                                                    <input type="text" class="form-control" id="address"
                                                                        name="address"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="district" class="form-label">District
                                                                        :</label>
                                                                    <input type="text" class="form-control"
                                                                        id="district" name="district"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="policeStation" class="form-label">Police
                                                                        Station :</label>
                                                                    <input type="text" class="form-control"
                                                                        id="policeStation" name="policeStation"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="state" class="form-label">State
                                                                        :</label>
                                                                    <input type="text" class="form-control" id="state"
                                                                        name="state"
                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                        required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="pinCode" class="form-label">PIN Code
                                                                        :</label>
                                                                    <input type="number" class="form-control"
                                                                        id="pinCode" name="pinCode" maxlength="12"
                                                                        pattern="[0-9]{6}" required />
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <label for="address" class="form-label"> <b>6.
                                                                            Course Details :</b></label>
                                                                </div>

                                                                <% if
                                                                    (locals.user.course==="Bachelor of Arts (Social Science Subjects)"
                                                                    ) { %>
                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="paper1" class="form-label">Paper-1
                                                                            :</label>
                                                                        <select id="paper1" class="form-select"
                                                                            name="paper1"
                                                                            onchange="updatePaper2Option()" required>
                                                                            <option value="">Select same subject as
                                                                                selected in Sem 1 & Sem 2</option>
                                                                            <option value="Economics">Economics</option>
                                                                            <option value="History">History</option>
                                                                            <option value="Political Science">Political
                                                                                Science</option>
                                                                            <option value="Psychology">Psychology
                                                                            </option>
                                                                            <option value="Sociology">Sociology</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="paper2" class="form-label">Paper-2
                                                                            :</label>
                                                                        <select id="paper2" class="form-select"
                                                                            name="paper2" required>

                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="paper3" class="form-label">Paper-3
                                                                            :</label>
                                                                        <select id="paper3" class="form-select"
                                                                            name="paper3" required>
                                                                            <option value="">Select one subject except
                                                                                the subjects studied in MDC 1 & MDC 2
                                                                            </option>
                                                                            <option value="Hindi">Hindi</option>
                                                                            <option value="Philosophy">Philosophy
                                                                            </option>
                                                                            <option value="English">English</option>
                                                                            <option value="Urdu">Urdu</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="paper4" class="form-label">Paper-4
                                                                            :</label>
                                                                        <select id="paper4" class="form-select"
                                                                            name="paper4" required>
                                                                            <option
                                                                                value="Course on Disaster Risk Management">
                                                                                Course on Disaster Risk Management
                                                                            </option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="paper5" class="form-label">Paper-5
                                                                            :</label>
                                                                        <select id="paper5" class="form-select"
                                                                            name="paper5" required>
                                                                            <option
                                                                                value="Statistical Software Package">
                                                                                Statistical Software Package</option>
                                                                            <option
                                                                                value="Communication in Professional Life">
                                                                                Communication in Professional Life
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <% } else if
                                                                        (locals.user.course==="Bachelor of Arts (Humanities Subjects)"
                                                                        ) { %>
                                                                        <div class="col-md-12 mb-3">
                                                                            <label for="paper1"
                                                                                class="form-label">Paper-1 :</label>
                                                                            <select id="paper1" class="form-select"
                                                                                name="paper1"
                                                                                onchange="updatePaper2Option()"
                                                                                required>
                                                                                <option value="">Select same subject as
                                                                                    selected in Sem 1 & Sem 2</option>
                                                                                <option value="English">English</option>
                                                                                <option value="Hindi">Hindi</option>
                                                                                <option value="Urdu">Urdu</option>
                                                                                <option value="Philosophy">Philosophy
                                                                                </option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="col-md-12 mb-3">
                                                                            <label for="paper2"
                                                                                class="form-label">Paper-2 :</label>
                                                                            <select id="paper2" class="form-select"
                                                                                name="paper2" required>

                                                                            </select>
                                                                        </div>

                                                                        <div class="col-md-12 mb-3">
                                                                            <label for="paper3"
                                                                                class="form-label">Paper-3 :</label>
                                                                            <select id="paper3" class="form-select"
                                                                                name="paper3" required>
                                                                                <option value="">Select one subject
                                                                                    except the subjects studied in MDC 1
                                                                                    & MDC 2</option>
                                                                                <option value="History">History</option>
                                                                                <option value="Economics">Economics
                                                                                </option>
                                                                                <option value="Political Science">
                                                                                    Political Science</option>
                                                                                <option value="Sociology">Sociology
                                                                                </option>
                                                                                <option value="Psychology">Psychology
                                                                                </option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="col-md-12 mb-3">
                                                                            <label for="paper4"
                                                                                class="form-label">Paper-4 :</label>
                                                                            <select id="paper4" class="form-select"
                                                                                name="paper4" required>
                                                                                <option
                                                                                    value="Course on Disaster Risk Management">
                                                                                    Course on Disaster Risk Management
                                                                                </option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="col-md-12 mb-3">
                                                                            <label for="paper5"
                                                                                class="form-label">Paper-5 :</label>
                                                                            <select id="paper5" class="form-select"
                                                                                name="paper5" required>
                                                                                <option
                                                                                    value="Statistical Software Package">
                                                                                    Statistical Software Package
                                                                                </option>
                                                                                <option
                                                                                    value="Communication in Professional Life">
                                                                                    Communication in Professional Life
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <% } else if
                                                                            (locals.user.course==="Bachelor of Science"
                                                                            ) { %>
                                                                            <div class="col-md-12 mb-3">
                                                                                <label for="paper1"
                                                                                    class="form-label">Paper-1 :</label>
                                                                                <select id="paper1" class="form-select"
                                                                                    name="paper1"
                                                                                    onchange="updatePaper2Option()"
                                                                                    required>
                                                                                    <option value="">Select same subject
                                                                                        as selected in Sem 1 & Sem 2
                                                                                    </option>
                                                                                    <option value="Physics">Physics
                                                                                    </option>
                                                                                    <option value="Chemistry">Chemistry
                                                                                    </option>
                                                                                    <option value="Zoology">Zoology
                                                                                    </option>
                                                                                    <option value="Botany">Botany
                                                                                    </option>
                                                                                    <option value="Mathematics">
                                                                                        Mathematics</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-12 mb-3">
                                                                                <label for="paper2"
                                                                                    class="form-label">Paper-2 :</label>
                                                                                <select id="paper2" class="form-select"
                                                                                    name="paper2" required>

                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-12 mb-3">
                                                                                <label for="paper3"
                                                                                    class="form-label">Paper-3 :</label>
                                                                                <select id="paper3" class="form-select"
                                                                                    name="paper3" required>
                                                                                    <option value="">Select one subject
                                                                                        except the subjects studied in
                                                                                        MDC 1 & MDC 2</option>
                                                                                    <option value="History">History
                                                                                    </option>
                                                                                    <option value="Economics">Economics
                                                                                    </option>
                                                                                    <option value="Political Science">
                                                                                        Political Science</option>
                                                                                    <option value="Sociology">Sociology
                                                                                    </option>
                                                                                    <option value="Hindi">Hindi</option>
                                                                                    <option value="Philosophy">
                                                                                        Philosophy</option>
                                                                                    <option value="English">English
                                                                                    </option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-12 mb-3">
                                                                                <label for="paper4"
                                                                                    class="form-label">Paper-4 :</label>
                                                                                <select id="paper4" class="form-select"
                                                                                    name="paper4" required>
                                                                                    <option
                                                                                        value="Course on Disaster Risk Management">
                                                                                        Course on Disaster Risk
                                                                                        Management</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-12 mb-3">
                                                                                <label for="paper5"
                                                                                    class="form-label">Paper-5 :</label>
                                                                                <select id="paper5" class="form-select"
                                                                                    name="paper5" required>
                                                                                    <option
                                                                                        value="Prospecting E-waste for sustainability">
                                                                                        Prospecting E-waste for
                                                                                        sustainability</option>
                                                                                    <option
                                                                                        value="Graphic Design & Animation">
                                                                                        Graphic Design & Animation
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <% } %>



                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="address"
                                                                                        class="form-label"> <b>7. Last
                                                                                            Exam Passed:</b></label>
                                                                                </div>

                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="examResult"
                                                                                        class="form-label">Exam Result
                                                                                        :</label>
                                                                                    <select id="examResult"
                                                                                        class="form-select"
                                                                                        name="examResult" required>
                                                                                        <option value="1st Division">1st
                                                                                            Division</option>
                                                                                        <option value="2nd Division">2nd
                                                                                            Division</option>
                                                                                        <option value="3rd Division">3rd
                                                                                            Division</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="obtMarks"
                                                                                        class="form-label">Obtained
                                                                                        Marks/Gr :</label>
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        id="obtMarks" name="obtMarks"
                                                                                        required />
                                                                                </div>

                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="fullMarks"
                                                                                        class="form-label">Full Marks/Gr
                                                                                        :</label>
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        id="fullMarks" name="fullMarks"
                                                                                        required />
                                                                                </div>

                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="obtPercent"
                                                                                        class="form-label">Obtained %
                                                                                        :</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        id="obtPercent"
                                                                                        name="obtPercent" required />
                                                                                </div>

                                                                                <div class="mb-3">
                                                                                    <label for="studentPhoto"
                                                                                        class="form-label">Passport Size
                                                                                        Photo</label>
                                                                                    <input
                                                                                        class="form-control form-control-sm"
                                                                                        id="studentPhoto"
                                                                                        name="studentPhoto" type="file"
                                                                                        required>
                                                                                </div>

                                                                                <div class="mb-3">
                                                                                    <label for="studentPhoto"
                                                                                        class="form-label">Student
                                                                                        Sign</label>
                                                                                    <input
                                                                                        class="form-control form-control-sm"
                                                                                        id="studentPhoto"
                                                                                        name="studentPhoto" type="file"
                                                                                        required>
                                                                                </div>

                                                                                <% if (locals.appliedUser) { %>
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary"
                                                                                        disabled>Submit</button>
                                                                                    <% } else { %>
                                                                                        <% if (locals.portal) { %>
                                                                                            <button type="submit"
                                                                                                class="btn btn-primary">Submit</button>
                                                                                            <% } else { %>
                                                                                                <button type="submit"
                                                                                                    class="btn btn-primary"
                                                                                                    disabled>Submit</button>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                                                        <button
                                                                                                            type="reset"
                                                                                                            class="btn btn-secondary">Reset</button>

                                                            </form>
                                                            <% } %>
                                                                <% } %>

                                            </div>
                                            <% if (locals.appliedUser) { %>

                                                <% if (locals.appliedUser.isPaid==true) { %>
                                                    <!-- <button class="btn btn-success my-4" disabled><a class="text-light" href="">Pay Admission Fee</a></button> -->
                                                    <% } else { %>
                                                        <button class="btn btn-success my-4"><a class="text-light"
                                                                href="/ugRegularSem3Pay">Pay Admission Fee</a></button>
                                                        <% } %>
                                                            <% } %>

                                                                <% if (locals.appliedUser) { %>

                                                                    <% if (locals.appliedUser.isPaid==true) { %>
                                                                        <button class="btn btn-primary my-4"><a
                                                                                class="text-light "
                                                                                href="/ugRegularSem3Receipt">Print
                                                                                Receipt</a></button>
                                                                        <% } %>
                                                                            <% } %>

                                                                                <% if (locals.appliedUser) { %>

                                                                                    <% if
                                                                                        (locals.appliedUser.isPaid==true)
                                                                                        { %>
                                                                                        <button
                                                                                            class="btn btn-primary my-4"><a
                                                                                                class="text-light"
                                                                                                href="/ugRegularSem3AdmFormCopy">Print
                                                                                                Admission
                                                                                                form</a></button>
                                                                                        <% } %>
                                                                                            <% } %>



                                        </div>
                                    </div>
                </div>


                <!-- Footer Start -->
                <%- include('./partials/main-footer.ejs') %>
                    <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <%- include('./partials/jsLibraries.ejs') %>
            </body>

            </html>