<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header.ejs') %>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partial/spinner.ejs') %>
            <!-- Spinner End -->


            <!-- Sidebar Start -->
            <%- include('../partial/studentSidebar.ejs') %>
                <!-- Sidebar End -->


                <!-- Content Start -->
                <div class="content">
                    <!-- Navbar Start -->
                    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-1">

                        <a href="#" class="sidebar-toggler flex-shrink-0 mx-1">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="" class="navbar-brand d-flex d-lg-none mx-1 me-4">
                            <img class="mb-0" src="/images/sggscollegelogo.png" alt="SGGS College, Patna City"
                                style="width: 100%;">
                        </a>
                        <!-- <div class="navbar-nav align-items-center ms-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <img class="rounded-circle me-lg-2" src="/images/user.jpg" alt=""
                    style="width: 40px; height: 40px;">
                                    <div class="d-inline-flex bg-primary text-white rounded-circle border border-2 border-white p-1 d-flex align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <%# locals.user.fullName.slice(0, 1)%>Sahil
                                    </div>
                                    <span class="d-none d-lg-inline-flex text-capitalize">
                                        <%# locals.user.fullName%>Amit
                                    </span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                    <a href="/logout" class="dropdown-item">Log Out</a>
                                </div>
                            </div>
                        </div> -->
                    </nav>
                    <!-- Navbar End -->

                    <!-- Form Start -->
                    <div class="container-fluid pt-4 px-4">
                        <!-- Flash message starts -->
                        <%- include('../partial/flashMessage.ejs') %>
                            <!-- Flash message ends -->

                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="bg-light rounded  p-4">

                                        <!-- <div class="container-fluid pt-4 px-4"> -->
                                            <!-- Welcome Message -->
                                            <div class="bg-primary text-white rounded p-4 mb-4 shadow-sm">
                                                <h4 class="mb-0">Welcome, <%= existingStudent?.studentName || 'Student' %> 👋
                                                </h4>
                                                <small>Your personal dashboard</small>
                                            </div>

                                            <!-- Student Info Cards -->
                                            <div class="row g-4">
                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Session</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.session || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Course</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.course || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Major Subject</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.majorSubject || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Father's Name</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.fatherName || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Gender</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.gender || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Date of Birth</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.dOB ? existingStudent.dOB.toDateString()
                                                                : 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Email</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.email || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">Mobile Number</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.mobileNumber || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-xl-4">
                                                    <div class="bg-light rounded p-3 shadow-sm">
                                                        <h6 class="text-muted">User ID</h6>
                                                        <p class="fs-5 mb-0 text-break">
                                                            <%= existingStudent?.userId || 'Data not available' %>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        <!-- </div> -->

                                    </div>



                                </div>
                            </div>
                    </div>

                    <!-- Form End -->


                    <!-- Footer Start -->
                    <%- include('../partial/footer.ejs') %>
                        <!-- Footer End -->
                </div>
                <!-- Content End -->


                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries Starts -->
    <%- include('../partial/jsLibrary.ejs') %>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <%- include('../partial/sem1Subject.ejs') %>
</body>

</html>