<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UG Reg Sem 1 (2025-2029) E-Receipt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
    <style>
        body {
            margin-top: 20px;
            background-color: #eee;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
        }

        .card-body {
            border: 0.5px solid black;
        }

        @media print {
            @page {
                size: A4;
                margin: 1cm;
            }

            body {
                margin-top: 0;
            }

            .card {
                width: 100vw;
            }

            .myCont {
                margin: 0;
                padding: 0;
                width: 100vw;
            }
        }
    </style>
</head>

<body>

    <div class="container myCont">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class=" d-flex justify-content-between">
                            <div class="mb-4">
                                <img src="/images/sggscollegelogo-favicon.png" width="100px" alt="Logo">
                            </div>
                            <div class="text-muted text-center">
                                <h2>S.G.G.S. COLLEGE, PATNA CITY</h2>
                                <h6>(A Constituent Unit of Patliputra University, Patna)</h6>
                                <h3>Quila Road, Patna City, Bihar-800008</h3>
                                <P>Website: www.sggscollegepatnacity.ac.in, Email: sggsppu@gmail.com</P>
                            </div>
                            <div class="mb-4">
                                <img src="/images/ppuLogo.png" width="100px" alt="Logo">
                            </div>
                        </div>

                        <hr class="my-4">
                        <div class="text-center mb-3">Admission Receipt</div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">
                                    <p class="mb-1 fw-bold">Name :&nbsp; &nbsp; &nbsp; <%= existingStudent.studentName
                                            %>
                                    </p>

                                    <% if (existingStudent.course==="Bachelor of Arts (Social Science Subjects)" ||
                                        existingStudent.course==="Bachelor of Arts (Humanities Subjects)" ) { %>
                                        <p class="mb-1 fw-bold">Class :&nbsp; &nbsp; &nbsp; B.A Sem - 1 (2025-29)</p>
                                        <% } else { %>
                                            <p class="mb-1 fw-bold">Class :&nbsp; &nbsp; &nbsp; B.Sc Sem - 1 (2025-29)
                                            </p>
                                            <% } %>

                                                <p class="mb-1 fw-bold">Reference No. :&nbsp; &nbsp; &nbsp; <%=
                                                        existingStudent.referenceNumber %>
                                                </p>

                                                <p class="mb-1 fw-bold">College Roll No :&nbsp; &nbsp; <%=
                                                        existingStudent.sem1.collegeRollNo.replace(/^\D+/g, '' ) %>
                                                </p>

                                                <p class="mb-1 fw-bold">Gender :&nbsp; &nbsp; &nbsp; <%=
                                                        existingStudent.gender %>
                                                </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-muted ">
                                    <p class="mb-1 fw-bold">E-mail Id :&nbsp; &nbsp; &nbsp; <%= existingStudent.email %>
                                    </p>
                                    <p class="mb-1 fw-bold">Mobile No :&nbsp; &nbsp; &nbsp; <%=
                                            existingStudent.mobileNumber %>
                                    </p>
                                    <p class="mb-1 fw-bold">Major Subject :&nbsp; &nbsp; &nbsp; <%=
                                            existingStudent.majorSubject %>
                                    </p>
                                    <p class="mb-1 fw-bold">Category :&nbsp; &nbsp; &nbsp; <%=
                                            existingStudent.sem1.category %>
                                    </p>
                                    <p class="mb-1 fw-bold">Receipt No :&nbsp; &nbsp; <%= existingStudent.sem1.receiptNo
                                            %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="py-2">

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 70px;">Sl. No.</th>
                                            <th>Description</th>
                                            <th></th>
                                            <th></th>
                                            <th class="text-end" style="width: 120px;">Amount</th>
                                        </tr>
                                    </thead><!-- end thead -->
                                    <tbody>
                                        <tr>
                                            <th scope="row">01</th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14 mb-1">Admission Fee</h5>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">₹<%= existingStudent.sem1.admissionFee %>
                                            </td>
                                        </tr>

                                        <% if ( existingStudent.sem1.practicalFee> 0 ) { %>
                                            <tr>
                                                <th scope="row">02</th>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14 mb-1">Practical Fee</h5>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-end">₹<%= existingStudent.sem1.practicalFee %>
                                                </td>
                                            </tr>
                                            <% } %>

                                                <!-- end tr -->
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->

                            <div class="col-lg-12">
                                <div class="row">
                                    <p class="text-center mt-4"><b>PAY MODE INFORMATION</b></p>
                                    <div class="col-sm-2">
                                        <div class="text-muted">
                                            <p class="mb-1 fw-bold">Pay Mode :</p>
                                            <p class="mb-1 fw-bold">Total :</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="text-muted">
                                            <p class="mb-1">Online</p>
                                            <p class="mb-1 fw-bold">₹<%= existingStudent.sem1.totalFee %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="text-muted text-end">
                                            <p class="mb-1 fw-bold">Transaction Id :</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="text-muted text-end">
                                            <p class="mb-1">
                                                <%= existingStudent.sem1.paymentId %>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-1 mt-3 fw-bold">Online Fee Paid </p>

                                <div class="mt-4 mb-1">This is computer generated Receipt. Does not required signature
                                </div>
                            </div>

                            <div class="d-print-none mt-4">
                                <div class="float-end">
                                    <a href="javascript:window.print()" class="btn btn-success me-1"><i
                                            class="fa fa-print"></i> Receipt</a>
                                    <a href="/student/<%= courseSession %>/<%= semester %>/admFormCopy"
                                        class="btn btn-primary me-1"><i class="fa fa-print"></i> Adm Form</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>
</body>

</html>